################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Windows11Clock/bin/Debug/net5.0-windows
/Windows11Clock/obj
